# Email Configuration
EMAIL_USER="interfacenit@gmail.com"
EMAIL_PASS="rppt otux xdgr fqnk"

# Supabase Configuration
VITE_SUPABASE_URL="https://rwzzfqqapqanjdqgpyef.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_iWxD00ZTYSV6ARM9HxC2PA_gKRsakqb"
